<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <div class="container my-3">
        <h1 style="margin-top: 5%; text-align: center;">Q&A</h1>
        <a th:href="@{/inquery/writeForm}" class="btn boardWrite" style="float: right; margin-right: 0px;">Write</a>
        <br><br>
        <form id="listForm">

            <table class="table">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>답변여부</th>
                </tr>
                <tr>
                    <td th:text="1"></td>
                    <td th:text="ㅋㅋ"></td>
                    <td th:text="작성자"></td>
                    <td th:text="ㅎㅎ"></td>
                    <td th:text="ㅋㅋ"></td>
                </tr>
            </table>
        </form>
<!--        <ul class="pagination d-flex justify-content-center">-->
<!--            <li th:if="${p.prev}" class="page-item"><a class="page-link" th:href="@{(${p.startPage-1})}">Previous</a></li>-->
<!--            <li th:each="pageBtn : ${#numbers.sequence(p.startPage, p.endPage)}"-->
<!--                class="page-item" th:classappend="${pageBtn==param.pageNum or (pageBtn==1 and param.pageNum==null) ? 'active' : ''}">-->
<!--                <a class="page-link" th:href="@{${pageBtn}}" th:text="${pageBtn}"></a>-->
<!--            </li>-->
<!--            <li th:if="${p.next}" class="page-item"><a class="page-link" th:href="@{(${p.endPage+1})}">Next</a></li>-->
<!--        </ul>-->
    </div>
</div>

</html>
