<!-- 수정된 코드 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="script">

    <script th:inline="javascript">

    $(document).ready(function(){
        var loggedInUser = document.getElementById("username").value;
        var writer = document.getElementById("writer").value;

        if (loggedInUser === writer) {
            document.getElementById("modifyBtn").style.display = "inline-block";
            document.getElementById("deleteBtn").style.display = "inline-block";
        } else {
            document.getElementById("modifyBtn").style.display = "none";
            document.getElementById("deleteBtn").style.display = "none";
        };
    });

        var title;
        var content;

        function gohome(event) {
            window.location.href = "/inquiry/list";
        }

        function modify(event) {

            document.getElementById("title").disabled = false;
            document.getElementById("content").disabled = false;

            document.getElementById("listBtn").style.display = "none";
            document.getElementById("modifyBtn").style.display = "none";
            document.getElementById("deleteBtn").style.display = "none";
            document.getElementById("completeBtn").style.display = "inline-block";
            document.getElementById("cancelBtn").style.display = "inline-block";

            // 필드의 값을 전역 변수에 할당
            title = document.getElementById("title").value;
            content = document.getElementById("content").value;
        }

        function cancelAddressFields(event) {
            event.preventDefault();

            // 취소 버튼 클릭 시 필드 비활성화 및 버튼 초기화
            document.getElementById("title").disabled = true;
            document.getElementById("content").disabled = true;

            // 전역 변수의 값을 필드에 할당
            document.getElementById("title").value = title;
            document.getElementById("content").value = content;

            document.getElementById("listBtn").style.display = "inline-block";
            document.getElementById("deleteBtn").style.display = "inline-block";
            document.getElementById("modifyBtn").style.display = "inline-block";
            document.getElementById("completeBtn").style.display = "none";
            document.getElementById("cancelBtn").style.display = "none";
        }

        function deleteInquiry(event) {
          event.preventDefault();
          var inquiryId = document.getElementById("inquiryId").value;

          var csrfToken = $("meta[name='_csrf']").attr("content");
          var csrfHeader = $("meta[name='_csrf_header']").attr("content");

          // 삭제 확인 메시지 표시
          var confirmDelete = confirm("삭제하시겠습니까?");
          if (confirmDelete) {
            $.ajax({
              url: "/inquiry/delete/" + encodeURIComponent(parseInt(inquiryId)),
              type: "DELETE",
              beforeSend: function(xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
              },
              success: function(response) {
                alert('삭제되었습니다.');
                window.location.href = "/inquiry/list";
              },
              error: function(error) {
                console.log('실패');
              }
            });
          }
        }

        function addComment(event) {
          event.preventDefault();
          var inquiryId = document.getElementById("inquiryId").value;
          var comment = document.getElementById("commentInput").value;

          console.log(inquiryId);
          console.log(comment);

          var csrfToken = $("meta[name='_csrf']").attr("content");
          var csrfHeader = $("meta[name='_csrf_header']").attr("content");

          $.ajax({
            url: "/inquiry/addComment",
            type: "POST",
            data: {
              inquiryId: inquiryId,
              comment: comment
            },
            beforeSend: function(xhr) {
              xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function(response) {
              // 댓글 추가 성공 시, 페이지 새로고침
              window.location.reload();
            },
            error: function(error) {
              console.log('실패');
            }
          });
        }

        function deleteComment(event) {
          var csrfToken = $("meta[name='_csrf']").attr("content");
          var csrfHeader = $("meta[name='_csrf_header']").attr("content");

          var commentId = event.target.parentNode.querySelector("input[name='commentId']").value;

          // 삭제 확인 메시지 표시
          var confirmDelete = confirm("댓글을 삭제하시겠습니까?");
          if (confirmDelete) {
            $.ajax({
              url: "/inquiry/deleteComment/" + encodeURIComponent(parseInt(commentId)),
              type: "DELETE",
              beforeSend: function(xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
              },
              success: function(response) {
                // 댓글 삭제 성공 시, 페이지 새로고침
                window.location.reload();
              },
              error: function(error) {
                console.log('실패');
              }
            });
          }
        }

        function editComment(event) {

          var commentId = event.target.parentNode.querySelector("input[name='commentId']").value;
          var commentField = event.target.parentNode.querySelector("input[name='commentContent']").value;
          var commentText = commentField.innerText;
          var editField = document.createElement("textarea");

          console.log(commentId);
          console.log(commentField);
          console.log(commentText);
          console.log(editField);

          editField.value = commentText;
          editField.className = "form-control";
          commentField.innerHTML = "";
          commentField.appendChild(editField);

          var saveButton = document.createElement("button");
          saveButton.className = "btn btn-primary";
          saveButton.innerHTML = "저장";
          saveButton.onclick = function() {
            saveComment(commentId);
          };
          commentField.appendChild(saveButton);

          var cancelButton = document.createElement("button");
          cancelButton.className = "btn btn-secondary";
          cancelButton.innerHTML = "취소";
          cancelButton.onclick = function() {
            cancelEditComment(commentId, commentText);
          };
          commentField.appendChild(cancelButton);
        }

        function saveComment(commentId) {
          var csrfToken = $("meta[name='_csrf']").attr("content");
          var csrfHeader = $("meta[name='_csrf_header']").attr("content");

          var editedComment = document.getElementById("comment_" + commentId).firstChild.value;

          $.ajax({
            url: "/inquiry/editComment/" + encodeURIComponent(parseInt(commentId)),
            type: "PUT",
            data: {
              comment: editedComment
            },
            beforeSend: function(xhr) {
              xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function(response) {
              // 댓글 수정 성공 시, 페이지 새로고침
              window.location.reload();
            },
            error: function(error) {
              console.log('실패');
            }
          });
        }

        function cancelEditComment(commentId, commentText) {
          var commentField = document.getElementById("comment_" + commentId);
          commentField.innerHTML = commentText;
        }

    </script>

</th:block>

<div layout:fragment="content">
    <form action="/inquiry/modify" role="form" method="post" th:object="${info}">
        <div class="container">
            <div class="card">
                <h1>Q&amp;A 상세</h1>

                <input type="hidden" th:value="${username}" id="username" name="username">

                <div class="form-group">
                    <h5>문의 번호:</h5>
                    <input type="text" th:value="${inquiry.id}" id="inquiryId" name="inquiryId" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <h5>문의 유형:</h5>
                    <input type="text" th:value="${inquiry.inquiryType == T(com.market.constant.InquiryType).PAYMENT ? '결제 문의' :
                           (inquiry.inquiryType == T(com.market.constant.InquiryType).SHIPPING ? '배송 문의' :
                           (inquiry.inquiryType == T(com.market.constant.InquiryType).PRODUCT ? '상품 문의' : '기타 문의'))}" class="form-control" id="inquiryType" name="inquiryType" disabled>
                </div>

                <div class="form-group">
                    <h5>작성자:</h5>
                    <input type="text" th:value="${inquiry.writer}" id="writer" name="writer" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <h5>작성일:</h5>
                    <input type="text" th:value="${inquiry.regDate}" id="regDate" name="regDate" class="form-control" disabled>
                </div>

                <div class="form-group">
                    <h5>문의 제목:</h5>
                    <input type="text" th:value="${inquiry.title}" id="title" name="title" class="form-control" disabled>
                </div>

                <div class="form-group">
                    <h5>문의 내용:</h5>
                    <textarea class="form-control" th:text="${inquiry.content}" id="content" name="content" disabled></textarea>
                </div>

                <div th:each="inquiryImg : ${inquiry.inquiryImgDtoList}" class="text-center">
                    <img th:if="${not #strings.isEmpty(inquiryImg.imgUrl)}" th:src="${inquiryImg.imgUrl}" class="rounded mgb-15" width="800">
                </div>


                <div class="form-group text-right mt-3">
                    <button type="button" class="btn btn-secondary" id="listBtn" onclick="gohome(event)">목록</button>
                    <button type="button" class="btn btn-primary" id="modifyBtn" onclick="modify(event)">수정</button>
                    <button type="button" class="btn btn-danger" id="deleteBtn" onclick="deleteInquiry(event)">삭제</button>
                    <button type="submit" class="btn btn-success" id="completeBtn" style="display: none;" onclick="deleteInquiry(event)">완료</button>
                    <button type="button" class="btn btn-secondary" id="cancelBtn" onclick="cancelAddressFields(event)" style="display: none;">취소</button>
                </div>

            </div>
        </div>
    </form>

    <!-- 댓글 작성 -->
    <div class="form-group">
        <h5>댓글 작성:</h5>
        <textarea class="form-control" id="commentInput" rows="2" th:if="${#request.isUserInRole('ROLE_ADMIN')}"></textarea>
        <button type="button" class="btn btn-primary mt-2" onclick="addComment(event)" th:if="${#request.isUserInRole('ROLE_ADMIN')}">댓글 작성</button>
    </div>

    <div>
        <h5>댓글:</h5>
        <div th:if="${answers}" th:each="comment : ${answers}">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <strong th:text="관리자"></strong>
                            <small class="text-muted" th:text="${comment.answerDate}"></small>
                        </div>
                        <div>
                            <button type="button" class="btn btn-link p-0" onclick="editComment(event)">수정</button>
                            <button type="button" class="btn btn-link p-0" onclick="deleteComment(event)">삭제</button>
                            <input type="hidden" th:value="${comment.id}" id="commentId" name="commentId">
                        </div>
                    </div>
                    <div id="commentContent" name="commentContent" class="mt-2" th:text="${comment.content}"></div>
                </div>
            </div>
        </div>
        <div th:unless="${answers}">
            <p>등록된 답변이 없습니다.</p>
        </div>
    </div>
</div>

</html>
